.nav {
    background-image: linear-gradient(0deg, #01080B, #212324);
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.nav-logo {
    color: #fff;
    justify-self: start;
}

.nav-logo a:hover {
    background-color: transparent;
    color: #fff;
}

.nav-menu-icon {
    color: white;
    display: none;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: left;
    margin-right: 2rem;
}

.nav-login {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 1px;
    list-style: none;
    text-align: center;
    justify-content: left;
    margin-right: 2rem;
}

.nav-login a{
    list-style: none;
    text-align: center;
    justify-content: end;
}

.nav-login a:hover {
    background-color: #333333;
    color: #54B7E9;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-menu a:hover {
    background-color: #333333;
    color: #54B7E9;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.nav-special-menu a {
    background-color: #5BF6FE;
    padding: 0.2rem 1rem;
    border-radius: 4px;
    font-weight: 700;
    color: black;
}

.nav-special-menu a:hover {
    background-color: #17C9FD;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    font-weight: bolder;
    color: white;
    transition: all 0.1s ease-out;
}

@media screen and (max-width: 960px) {
    .nav {
        position: relative;
        color: black;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 26px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: black;
        left: 0;
        opacity: 0.9;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-menu.active a {

        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        transform: translate(-9%,0%);
    }

    .nav-menu a {
        display: none;
    }

    .nav-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(20%, 30%);
    }

    .nav-logo a:hover {
        color: white;
        background-image: linear-gradient(0deg, #01080B, #212324);
    }

    .nav-menu-icon {
        color: white;
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-login {
        display: flex;
        position: absolute;
        right: 0;
    }

    .nav-login.active {
        display: flex;
        position: absolute;
        right: 0;
        transition: 1000ms ease;
    }
}